
header {
	margin: 5px;
	background-color: green;
}

header h1 {
	font-size: 21pt;
	color: #FFFFFF;
}

header p {
	color: #FFFFFF;
	/*font-size: 12pt;*/
}

header img {
	height: 110px;
}

nav {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: green;
}

nav h2 {
	color: #FFFFFF;
	padding-left: 60px;
}

nav p {
	color: #FFFFFF;
	/*font-size: 12pt;*/
	font-style: italic;
	padding-left: 60px;
}

ul {
	padding-left: 80px;
}

li {
	padding-bottom: 4px;
}

li a {
	color: #0D118B;
	text-decoration: none;
	/*font-size: 20pt;*/
	list-style: none;
	text-align: center;
	vertical-align: middle;
}

nav ul {
	width: 100%;
}

nav ul li {
	float: left;
	margin-right: 20px;
	background-color: white;
	border-radius: 8px;
	list-style: none;
	text-align: center;
	width: 200px;
	padding-top: 5px;
}

nav:after {
	clear: both;
}

li a:hover {
	text-decoration: underline;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}