
body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"header"
	"nav"
	"content"
	;
}

header {
	margin: 5px;
	background-color: green;
	grid: header;
}

header h1 {
	font-size: 21pt;
	color: #FFFFFF;
}

header p {
	color: #FFFFFF;
	/*font-size: 12pt;*/
}

header img {
	height: 110px;
}

nav {
	grid: nav;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: green;
}

nav h2 {
	color: #FFFFFF;
	padding-left: 60px;
}

nav p {
	color: #FFFFFF;
	/*font-size: 12pt;*/
	font-style: italic;
	padding-left: 60px;
}

ul {
	padding-left: 80px;
}

li {
	padding-bottom: 4px;
}

li a {
	color: #0D118B;
	text-decoration: none;
	/*font-size: 20pt;*/
	list-style: none;
	text-align: center;
	vertical-align: middle;
}

nav ul {
	width: 100%;
}

nav ul li {
	float: left;
	margin-right: 20px;
	background-color: white;
	border-radius: 8px;
	list-style: none;
	text-align: center;
	width: 200px;
	padding-top: 5px;
}

nav:after {
	clear: both;
}

li a:hover {
	text-decoration: underline;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* ---------------------- Survey Page ------------------------- */

#survey-details {
	font-family: 'Josefin Sans', sans-serif;
}

#survey-details > #survey > #favoriteParkCode {	
	height: 30px;
	font-size: 17px;
	font-family: 'Josefin Sans', sans-serif;
}

#survey-details > #survey > #email {
	font-size: 17px;
	width: 300px;
	height: 30px;
	font-family: 'Josefin Sans', sans-serif;
}

#survey-details > #survey > #state {
	height: 30px;
	font-size: 17px;
	font-family: 'Josefin Sans', sans-serif;
}

#survey-details > #survey > #buttons {
	position: absolute;	
}

input[type="radio"] + label {
	font-size: 18px;	
	padding-left: 15px;
	padding-right: 40px;
	font-family: 'Josefin Sans', sans-serif;
}

#survey-details > #survey > #submit {
	border-radius: 10px;
	border: solid 1px;
	font-size: 20px;
	width: 200px;
	max-height: 100px;
	position: relative;
	top: 60px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5px;
}

#survey-details > #survey > h3 {
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

div.buttons > h3 {
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom: 5px;	
}

#footer {
  padding-top: 5rem;         
}

section .details {
	grid: content;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"park"
	"forecast"
	;
}

section div.parkTile {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"img"
	"title"
	"details"
	"info"
	;

}

section .details.parkTile img{
	grid: img;
}

section .details.parkTile h3 {
	grid: title;
}

section .details.parkTile p{
	grid: details;
}

section .details.forecast{
	grid: forecast;
	display: inline-block;
}

body > section > div.forecast {
	display: flex;
	align-items: baseline;
}


body > section > div.forecast > div.dayForecast > img {
	width: 30%;
	
}

body > section > div.forecast > div:nth-child(1) {
	margin-top: 10px;
	
}

body > section > div.forecast > div:nth-child(1) > img {
	width: 75%;
	
}

body > section > div.forecast > div.dayForecast > p {
	margin: 5px 0px 5px 0px;
	
}



